<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.library.mapper.LibrarianMapper">
    <select id="findByUsername" resultType="com.library.entity.Librarian">
        SELECT * FROM librarian WHERE username = #{username}
    </select>

    <select id="findAll" resultType="com.library.entity.Librarian">
        SELECT * FROM librarian
    </select>

    <insert id="insert" parameterType="com.library.entity.Librarian">
        INSERT INTO librarian (username, password, real_name, phone, email, status)
        VALUES (#{username}, #{password}, #{realName}, #{phone}, #{email}, #{status})
    </insert>

    <update id="update" parameterType="com.library.entity.Librarian">
        UPDATE librarian
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="realName != null">real_name = #{realName},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="status != null">status = #{status},</if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM librarian WHERE id = #{id}
    </delete>

    <select id="findPasswordById" resultType="java.lang.String">
        SELECT password FROM librarian WHERE id = #{id}
    </select>

    <update id="updatePassword">
        UPDATE librarian SET password = #{password}, update_time = NOW() WHERE id = #{id}
    </update>
</mapper>
