<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.library.mapper.SysUserRoleMapper">

    <select id="findByUser" resultType="com.library.entity.SysUserRole">
        SELECT id, user_type, user_id, role_id, create_time
        FROM sys_user_role
        WHERE user_type = #{userType} AND user_id = #{userId}
    </select>

    <insert id="insert" parameterType="com.library.entity.SysUserRole">
        INSERT INTO sys_user_role (user_type, user_id, role_id)
        VALUES (#{userType}, #{userId}, #{roleId})
    </insert>

    <delete id="deleteByUser">
        DELETE FROM sys_user_role WHERE user_type = #{userType} AND user_id = #{userId}
    </delete>

    <delete id="deleteByRoleId">
        DELETE FROM sys_user_role WHERE role_id = #{roleId}
    </delete>

</mapper>
